// TODO: Convert otf fonts to woff2

// @font-face {
//   font-family: 'Source Sans Pro';
//   src: url('/fonts/SourceSansPro-Light.otf');
//   font-style: normal;
//   font-weight: 100;
//   font-display: swap;
// }

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/SourceSansPro-Regular.woff');
  // src: local(''), url('/fonts/SourceSansPro-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

// @font-face {
//   font-family: 'Source Sans Pro';
//   src: url('/fonts/SourceSansPro-Bold.otf');
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
// }
